<div class="container">
  <div class="row pt-3">
    <div class="col-xl-9 auto">
      <h2>チャット一覧</h2>
      
        <table class="table table-hover table-inverse">
          <thead>
            <tr>
              <th></th>
              <th class="text-center">ニックネーム</th>
              <th class="text-center">最新のトーク</th>
              <th colspan="3"></th>
            </tr>
          </thead>
          <tbody>      
      <% @another_entries.each do |entry| %>
      　<tr>
          <td class="col-1 profile_image">
            <%= image_tag entry.user.get_profile_image %>
          </td>
          <td class="col-3 text-center align-middle">
            <%= link_to room_path(entry.room) do %>
            <%= entry.user.name %>
            <% end %>
          </td>
          <td class="col-4 text-center align-middle">
            <%= truncate(Message.find_by(id: entry.room.message_ids.last)&.content, length: 20) %>
          </td>
      <% end %>
      </tr>
    </div>
  </div>
</div>