<h1>DM一覧</h1>
<table class= "table" >
<thead>
  <tr>
  <th></th>
  </tr>
</thead>
<tbody>

  </tr>
 <% @users.each do |user| %>
  <tr>
    <% unless user == current_user %>
   <td><%= link_to room_path(user) do %>
         <%= @entries.ids %>
         <% end %>
  <% end %>
<% end %>
   </td>
</tbody>
</table>