<div class="container">
  <div class="row">
    <div class="mx-auto text-center">

      <h2 class="text-center px-5 py-3">私たちについて</h2>
      <p>ここは家猫や地域猫を共有し、心の安らぎをもたらしてくれる場所です。</p>
　　　<p>一般的なSNSでは猫だけでなく、 興味のない画像や見たくない情報も何でも出てきてしまい、</p>
　　　<p>かえって疲れてしまうこともあります。</p>
　　　<p>「猫をとにかく眺めたい！」「我が家の猫を見てほしい！」</p>
　　　<p>そんな猫を見たい、共有したい気持ちを叶えられる場所にしました。</p>
      <%= image_tag "image.png" ,size: '500x334', class: "img-fluid" %>

    </div>
  </div>
</div>