                <div class="container">

<h2>今月の猫</h2>
      <%= image_tag "3.jpg" ,size: '500x334', class: "img-fluid" %>



                      <div class="jumbotron">
                        <h1><small>Cats Here</small></br>
			                  <strong>ねこぐらし</strong></h1>
                        <p>thanks for all cats</p>
                        <td>
                          <%= link_to about_path do %>
                          <button class= " text-secondary btn btn-lg rounded-pill", style="background-color: #FFCC99;">私たちについて</button>
                          <% end %>
                        </td></br></br>
                        <td>
                          <%= link_to guest_sign_in_path method: :post do %>
                          <button class= "btn btn-lg rounded-pill", style= "background-color: #FFCC99;">ゲストログイン</button>
                          <% end %>
                        </td>
                    </div>
                </div>
            </div>

                    </div>
