<div class="container">
  <div class="row pt-3">
    <div class="col-3"></div>
    <div class="col-6 auto">

      <h2 class="text-center my-5">会員一覧（管理者）</h2>

      <table class="table table-hover table-inverse">
        <thead>
          <tr>
            <th class="text-center align-middle"></th>
            <th class="text-center align-middle">ニックネーム</th>
            <th colspan= "3", class="text-center align-middle">会員ステータス</th>
          </tr>
        </thread>
        <tbody>
          <% @users.each do |user| %>
            <tr>
              <td class="text-center align-middle">
                <%= image_tag user.get_profile_image, style:"width: auto; height: 120px;" %>
              </td>
              <td class="text-center align-middle">
                <%= link_to admin_user_path(user.id) do %>
                <%= user.name %>
                <% end %>
              </td>
              <% if user.is_deleted == false %>
              <td class="text-center align-middle">有効</td>
              <% else %>
              <td class="text-center align-middle">退会</td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
      
      <div class="text-center"><%= paginate @users %></div>
      
    </div>
  </div>
</div>