<footer class ="p-1", style="background-color: #CCFF99;">
  <div class ="container mt-5">
    <div class ="row">
      <div class ="mx-auto">
        <p>Cats Here</p>
      </div>
    </div>
  </div>
 </footer>